<p>register works!</p>
<h2 style="text-align: center;">My account</h2>
         <div class="container">
            <form (ngSubmit)="onSubmit()"name="regform" class="mb-4">
                <table align="center">
                    <tr>
                        <td><label for="fullname">Full Name*:</label></td>
                         <td><input type="text" name="fullname" [(ngModel)]="name"  required></td>
                    </tr>
                    <tr>
                        <td><label for="choosemail">choose a mail:</label></td>
                         <td><input type="email" name="choosemail"[(ngModel)]="email"></td>
                    </tr>
                    <tr>
                        <td><label for="password">Enter pasword:</label></td>
                         <td><input type="password" name="pass" [(ngModel)]="pass"></td>
                    </tr>
                    <tr>
                        <td><label for="retype">Retype password</label></td>
                         <td><input type="password" name="repass" [(ngModel)]="repass"></td>
                    </tr>
                    <!-- <tr>
                        <td><label for="dob">choose dob:</label></td>
                         <td><input type="date" name="DOB" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td><label for="altemail">altemail</label></td>
                         <td><input type="email" name="altemail" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="altemailop">check if you don't have alternate email id:</label></td>
                         <td><input type="checkbox" name="fullname"></td>
                    </tr>
                    <tr>
                        <td><label for="mobile">Mobile No:</label></td>
                        <td><select name="countrycode">
                            <option value="ind">+91 India</option>
                            <option value="USA/Canada">+1 USA/Canada</option>
                            <option value="uk">44 Geramny</option>
                        </select></td>
                         <td><input type="text" name="no" class="form-control" required></td>
                    </tr>
                    <tr>
                        <td><label for="gender" required>Gender:</label></td>
                         <td>Male<input type="radio" name="gender" value="male">
                         <td>Female<input type="radio" name="gender" value="female"></td>

                    </tr>
                    <tr>
                    <td><label for="choose a city" required>Choose city</label></td>
                        <td><select name="city">
                            <option value="Trivandrum">Trivandrum</option>
                            <option value="California">California</option>
                            <option value="Mumbai">Mumbai</option>
                        </select></td> 
                       

                    //</tr>-->
                    <tr>
                        <td><input type="submit" value="Register" class="btn btn-primary">
                        <input type="reset" value="clear" class="btn btn-primary"></td>
                    </tr>
                    
                </table>
            </form>
         </div>

  