<h2>Math functions</h2>
<h3>Enter the number:<input type="text" [(ngModel)]="n"/></h3>
<h3><button type="button" (click)="factorial(n)">Result</button></h3>
<h3>factorial is:{{result}}</h3>
<h3>Enter the number:<input type="text" [(ngModel)]="x"></h3>
<h3><button type="button" (click)="add(x)">Result</button></h3>
<h3>sum is:{{Sum}}</h3>
<h3>Enter the number:<input type="text" [(ngModel)]="y"></h3>
<h3>Enter the number:<input type="text" [(ngModel)]="a"></h3>
<h3><button type="button" (click)="multiply(y,a)">Result</button></h3>
<h3>Product is:{{Product}}</h3>
<h3>Enter the number:<input type="text" [(ngModel)]="b"></h3>
<h3><button type="button" (click)="fibinoci(b)">Result</button></h3>
<h3>fib is:{{fib}}</h3> 
<h3>Enter the number:<input type="text" [(ngModel)]="d"></h3>
<h3><button type="button" (click)="even(d)">Result</button></h3>
<h3>even numbers is:{{Even}}</h3>   